<form id="formAddEp">
    <div class="form-group">
        <label for="podcast">Podcast</label>
        <input type="text" class="form-control" id="podcast" name="podcast" placeholder="Enter podcast name">
    </div>
    <div class="form-group">
        <label for="episode">Episode Number</label>
        <input type="text" class="form-control" id="episode" name="episode" placeholder="Enter episode number">
    </div>
    <div class="form-group">
        <label for="title">Episode Title</label>
        <input type="text" class="form-control" id="title" name="title" placeholder="Enter épisode title">
    </div>
    <div class="form-group">
        <label for="link">Link</label>
        <input type="text" class="form-control" id="link" name="link" placeholder="enter http link for this episode">
    </div>
    <div class="form-group">
        <label for="counter_diff">Start counter at</label>
        <input type="text" class="form-control" id="counter_diff" name="counter_diff" placeholder="enter previous count">
    </div>
    <button id="btnAddEp" type="submit" class="btn btn-default">Add</button>
</form>